<% if @public_recipes.empty? %>
    <h1>No recipes yet!</h1>
<% else %>
<h1>Public Recipes</h1>
<% @public_recipes.each do |recipe| %>
    <div>
    <h5><%= recipe.name %></h5>
        By: <span><%= recipe.user.name %></span>
          <div>
            <div>
              <span>Total food items: </span>
              <span><%= recipe.foods.length %></span>
            </div>
            <div>
              <span>Total price:</span>
              <span>$<%= @totals[recipe.id] %></span>
            </div>
          </div>
    </div>
<% end %>
<% end %>