<% if @public_recipes.empty? %>
  <h1 class="text-3xl font-bold text-center my-8">No recipes yet!</h1>
<% else %>
  <h1 class="text-3xl font-bold mb-4 text-center mt-8 pb-2 border-b border-gray-300">Public Recipes</h1>
  <% @public_recipes.each do |recipe| %>
    <div class="max-w-3xl mx-auto bg-gray-100 border border-gray-300 rounded-lg shadow my-4">
      <div class="p-4 space-y-4">
        <div class="flex justify-between items-center">
          <h5 class="text-2xl font-bold mb-2 text-gray-800"><%= recipe.name %></h5>
          <div class="flex flex-col items-end text-gray-600">
            <div>
              <span>Total food items:</span>
              <span><%= recipe.foods.length %></span>
            </div>
            <div>
              <span>Total price:</span>
              <span class="text-green-500">$<%= @totals[recipe.id] %></span>
            </div>
          </div>
        </div>
        <p class="text-gray-600">By: <%= recipe.user.name %></p>
      </div>
    </div>
  <% end %>
<% end %>
